@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   
}
.slider-text
{
color: #f6f7fb;
}


.navbar {
    position: relative;
       background-color: rgba(255, 255, 255, 0.28);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

  #container{
	display: flex;
	margin: 0 auto;
	width: intrinsic;           
  width: -moz-max-content;   
 	width: -webkit-max-content;
	height: 60%;
}
  .header{
	display: flex;
	flex-wrap: wrap;
	font-weight: bold;
	
	margin: 0;
	color: white;
	padding: 1vw 1vw 2vw 1vw;
	margin-bottom: 2vw;
}
  h1 { 
    text-align: center;
  	color: white;
    
      font-family: "Poppins", sans-serif;
  }
  body {
   font-family: 'Poppins', sans-serif;
    background: rgb(16, 16, 23);
 
  }
    .btn {
       border: 1px solid pink;
       background-color: transparent;
      margin-left: auto;
    margin-right: 5px;
      color:white;
/*         border: 2px solid silver;
        background-color: #A9A9A9; */
     
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid pink ;
    outline: none;
    color:white;
         margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
        padding: 14px 14px;
        
        font-size: 16px;
        cursor: pointer;
      }
      .sort{
        margin:5px 5px;
      }
     
  
.btn:hover{
    background-color: pink;
    transition: 0.2s ease-out;
}
    .bar-container{
        display: flex;
        align-items: flex-start;
        min-height: 100%;
        height: 100%;
        padding: 1rem;
        flex-direction: row;
      

    }
      .bars {
        border: 0.05vw solid black;
        width:0.9vw;
        margin:0.1vw;
        background:#fd0081;
        background-color: #343090;;
        display: inline-block
      }
